{% extends 'base.html' %}

{% if user_in_question %}
    {% block content %}
        <div class="div-header">
            <h1>{{ user_in_question.first_name }}'s Sales</h1>
        </div>

        <div class="section-header-and-button">
            <h1>Pending Sales</h1>
            <form method="get" action="/SalesPeople/{{ user_in_question.first_name }}/ViewDetailSales">
                <button type="submit">View all opportunities</button>
            </form>
        </div>
        <div class="div-block">
        {% if pending_sales %}
            <h4>Number of opportunities: {{ pending_sales.count }}</h4>
            <h4>Total opportunities value: R{{ sales_person.pending_sales_amount }}</h4>
                <div class="view-items">
                    {% for sale in pending_sales %}
                    <ul>
                        <li>{{ sale.company.company_name }}, due {{ sale.due_date }} (<strong>Quote
                            Number: {{ sale.quote_number }}</strong>)
                            {% if sale.unique_id %} ( Reminder: {{ sale.unique_id }}){% endif %}
                            <div class="button-container-outer">
                                {% if request.user.first_name == user_in_question.first_name %}
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ user_in_question.first_name }}/EditSale/{{ sale.id }}">
                                            <button class="view-edit-button" type="submit">Edit</button>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ user_in_question.first_name }}/DeleteSale/{{ sale.id }}">
                                            <button class="view-edit-button" type="submit">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}
                </div>
            {% else %}<h4>No pending sales</h4>{% endif %}
        </div>
        <div class="section-header-and-button">
            <h1>Completed Sales</h1>
                <div class="div-block-header-button">
                    <form method="get" action="/SalesPeople/{{ user_in_question.first_name }}/ViewDetailSales">
                        <button type="submit">View all Sales closed</button>
                    </form>
                </div>
        </div>
        <div class="div-block">
            <h4>Number of sales made: {{ completed_sales.count }}</h4>
            <h4>Value of sales made: {{ sales_person.total_sales_amount }}</h4>
            {% if completed_sales %}
                <div class="view-items">
                    {% for sale in completed_sales %}
                    <ul>
                        <li>Company: {{ sale.company.company_name }}, Date completed: {{ sale.due_date }}
                            {% if sale.unique_id %} {{ sale.unique_id }}{% endif %}
                            <div class="button-container-outer">
                                {% if request.user.first_name == user_in_question.first_name %}
                                    <div class="button-container-inner">
                                <form method="get"
                                      action="/SalesPeople/{{ user_in_question.first_name }}/EditSale/{{ sale.id }}">
                                    <button class="view-edit-button" type="submit">Edit</button>
                                </form>
                                    </div>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <div class="button-container-inner">
                                        <form method="post"
                                              action="/SalesPeople/{{ request.user.first_name }}/DeleteSale/{{ sale.id }}">
                                            <button class="view-edit-button" type="submit">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            {% else %}
            <h4>No completed sales</h4>
        {% endif %}
        </div>
        {% if request.user.first_name == user_in_question.first_name %}
        <div>
            <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddSale">
                <button class="button" type="submit">Add Sale</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}
{% endif %}

