.page-header {
    background-color: #58C5C4;
    margin-top: 0;
    padding: 10px 20px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    display: inline-block;
}

.page-header-links {
    /*display: inline-block;*/
    float: right;
    /*position: relative;*/
    /*padding-bottom: 100%;*/
    /*margin-bottom: 10%;*/
    text-align: center;

}

.page-header-links a {
    color: white;
    /*position: absolute;*/
    text-align: center;
}


.div-header {
    background-color: #58C5C4;
    padding: 20px 20px 20px 40px;
}

.div-header h1, .div-header h1 a, .div-header h1 a:visited, h1 a:active {
    color: #ffffff;
    font-size: 28pt;
}

.div-header a {
    float: right;
}

.div-block {
    background-color: #b1ddda;
    /*display:block*/
}

.div-block h1 {
    font-size: 20pt;
    color: #ffffff;
    padding: 10px 10px 10px 20px;
    background-color: #58C5C4;
    position: relative;
    /*display: inline-block;*/
}

.div-block ul {
    /*display:inline-block;*/
    background-color: #b1ddda;
    padding: 10px 10px 30px 30px;
}

.div-block li {
    /*display:inherit;*/
    float: left;
    /*display:inline-block;*/
}

.view-edit-button {
    display: inline-block;
    margin-left: 5%;
    margin-top: -1%
}

.view-delete-button {
    margin-left: 1%;
    margin-top: -1%;
    background-color: #c60303;

}
.div-block h2, h3 {
    font-size: 18pt;
    color: #ffffff;
    padding: 10px 10px 10px 20px;
    background-color: #58C5C4;
}

.div-block h4 {
    font-size: 16pt;
    color: #000000;
    padding: 5px 5px 5px 10px;
}

.div-block li {
    margin-left: inherit;
}
.content {
    margin-left: 40px;
}

h2, h3, h4 {
    font-family: "Roboto+Condensed", bold;
}

h1 {
    font-family: 'Anton';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.button {
    background-color: #c60303;
    font-family: "Anton";
    border: groove;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 4%;
    margin-left: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: inline-block;
    font-size: 16px;
}

.button-container-outer {
    width: 20%;
    text-align: center;
    display: inline-block;
}

.button-container-inner {
    display: inline-block;
}

.div-block-header-button {
    float: right;
    font-family: Arial;
    font-size: 10pt;
    color: black;
    background-color: #58C5C4;
}

.div-block-header-button button {
    background-color: #58C5C4;
    font-size: 12pt;
    font-family: Roboto;
    color: #ffffff;
    border-style: double;
}

.view-items {

}