{% load staticfiles %}
<html>
    <head>
        <title>MPT Sales Tracker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:Bold|Anton' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'SalesPeople/style.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">MPT SalesTracker</a></h1>
        <div class="page-header-links">
            <p>Welcome{% if request.user.first_name %}, {{ request.user.first_name }}{% endif %}.</p>
            <a href="/SalesPeople/{{ request.user.first_name }}">My Dashboard/</a>
            <a href="/SalesPeople/{{ request.user.first_name }}/ViewSales/">View My Sales/</a>
            <a href="/logout">Log out</a>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>