{% if sales_person_in_question %}
    <h1>{{ sales_person_in_question.first_name }} {{ sales_person_in_question.last_name }}</h1>
    <h2>Overview</h2>
    <h3>Sales</h3>
    {% if recent_sales %}

        <h4>Completed Sale Count: {{ completed_sales_count }}</h4>
        <h4>Pending Sale Count: {{ pending_sales_count }}</h4>
        <h4>Pending Sales</h4>
        {% for sale in recent_sales %}
            <ul>
                {% if sale.sale_completed == False %}
                    <li>Company: {{ sale.company.company_name }} Date due: {{ sale.due_date }}
                        {% if sale.unique_id %} ( Reminder: {{ sale.unique_id }} ) {% else %}, R
                            {{ sale.amount }} {% endif %}
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
        <h4>Completed Sales:</h4>
        <ul>
            {% for sale in recent_sales %}
                {% if sale.sale_completed %}
                    <li>Amount: R {{ sale.amount }} Date completed: {{ sale.due_date }}
                        {% if sale.unique_id %} {{ sale.unique_id }} {% else %} R{{ sale.amount }} {% endif %}
                    </li>
                {% endif %}
                </ul>

            {% endfor %}
    {% else %}
        <h4>No past or upcoming sales</h4>
    {% endif %}
    <h3>Meetings:</h3>
    {% if upcoming_meetings %}
        <ul>
            {% for meeting in upcoming_meetings %}
                <li> Company: {{ meeting.company.company_name }} Date: {{ meeting.meeting_date }} </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>No upcoming meetings</h4>
    {% endif %}
    {% if request.user.first_name == sales_person_in_question.first_name %}
    <form method="get" action= "/SalesPeople/{{ request.user.first_name }}/AddSale">
        <button type="submit">Add Sale</button>
    </form>
    <form method="get" action= "/SalesPeople/{{ request.user.first_name }}/AddMeeting">
        <button type="submit">Add Meeting</button>
    </form>
    <form method="get" action= "/SalesPeople/{{ request.user.first_name }}/AddCompany">
        <button type="submit">Add Company</button>
    </form>
    <form method="get" action= "/SalesPeople/{{ request.user.first_name }}/AddCompanyRepresentative">
        <button type="submit">Add Company Representative</button>
    </form>
    {% endif %}
{% endif %}

