{% extends 'base.html' %}

{% if sales_person_in_question %}
    {% block title %}<h1>{{ sales_person_in_question.first_name }} {{ sales_person_in_question.last_name }}</h1>
    {% endblock %}
    {% block content %}
        <div class="div-header">
            <h1>{{ sales_person_in_question.first_name }}'s Dashboard</h1>
        </div>
        <div class="div-block">
            <h1>Sales</h1>
            {% if recent_sales %}
                <h4>Completed Sale Count: {{ completed_sales_count }}</h4>
                <h4>Pending Sale Count: {{ pending_sales_count }}</h4>
                <h4>Pending Sales</h4>
                <ul>
                    {% for sale in recent_sales %}
                        {% if sale.sale_completed == False %}
                            <li>Company: {{ sale.company.company_name }} Date due: {{ sale.due_date }}
                                {% if sale.unique_id %} ( Reminder: {{ sale.unique_id }} ){% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h4>Completed Sales:</h4>
                <ul>
                    {% for sale in recent_sales %}
                        {% if sale.sale_completed %}
                            <li>Company: {{ sale.company.company_name }}Date completed: {{ sale.due_date }}
                                {% if sale.unique_id %} {{ sale.unique_id }} {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No past or upcoming sales</h4>
            {% endif %}
        </div>
        <div class='div-block'>
            <h1>Meetings:</h1>
            {% if upcoming_meetings %}
                <h4>Upcoming Meetings</h4>
                <ul>
                    {% for meeting in upcoming_meetings %}
                        <li> Company: {{ meeting.company.company_name }} Date: {{ meeting.meeting_date }} </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No upcoming meetings</h4>
            {% endif %}
        </div>
        {% if request.user.first_name == sales_person_in_question.first_name %}
            <div>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddSale">
                    <button class="button" type="submit">Add Sale</button>
                </form>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddMeeting">
                    <button class="button" type="submit">Add Meeting</button>
                </form>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddCompany">
                    <button class="button" type="submit">Add Company</button>
                </form>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddCompanyRepresentative">
                    <button class="button" type="submit">Add Company Representative</button>
                </form>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/ViewSales">
                    <button class="button" type="submit">View My Sales</button>
                </form>
            </div>
        {% endif %}
    {% endblock %}
{% endif %}

