{% extends 'base.html' %}

{% if sales_person %}
    {% block title %}<h1></h1>
    {% endblock %}
    {% block content %}
        <div class="div-header">
            <h1>{{ sales_person.first_name }}'s Meetings</h1>
        </div>
        <div class="div-block">
            <h1>Upcoming meetings</h1>
            {% if meetings_today %}
                <h4>Meetings Today</h4>
                <ul>
                    {% for meeting in meetings_today %}
                        <div class="view-items">
                            <li>Company: {{ meeting.company.company_name }} Time: {{ meeting.meeting_date.time }}</li>
                            {% if sales_person.first_name == request.user.first_name %}
                                <div class="button-container-outer">
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ request.user.first_name }}/EditMeeting/{{ meeting.id }}">
                                            <button class="view-edit-button" type="submit">Edit</button>
                                        </form>
                                    </div>
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ request.user.first_name }}/DeleteMeeting/{{ meeting.id }}">
                                            <button class="view-edit-button" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            {% else %}<h4>No meetings today</h4>{% endif %}
        </div>
        <div class="div-block">
            <h1>Upcoming meetings</h1>
            {% if meetings_upcoming %}
                <ul>
                    {% for meeting in meetings_upcoming %}
                        <div class="view-items">
                            <li>Company: {{ meeting.company.company_name }} Time: {{ meeting.meeting_date }}</li>
                            {% if request.user.first_name == sales_person.first_name %}
                                <div class="button-container-outer">
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ request.user.first_name }}/EditMeeting/{{ meeting.id }}">
                                            <button class="view-edit-button" type="submit">Edit</button>
                                        </form>
                                    </div>
                                    <div class="button-container-inner">
                                        <form method="get"
                                              action="/SalesPeople/{{ request.user.first_name }}/DeleteMeeting/{{ meeting.id }}">
                                            <button class="view-edit-button" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No upcoming meetings</h4>
            {% endif %}
        </div>

        {% if request.user.first_name == sales_person.first_name %}
            <div>
                <form method="get" action="/SalesPeople/{{ request.user.first_name }}/AddMeeting">
                    <button class="button" type="submit">Add Meeting</button>
                </form>
            </div>
        {% endif %}
    {% endblock %}
{% endif %}

