{% extends 'base.html' %}

{% block content %}
  <p>
    I (the CRM), having a sentient mind and unparalleled AI capabilities, have emailed you instructions for setting your password, mere mortal;
      if an account exists with the email you entered,
    you'll should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
    <strong><p>Also, well flippen' done on forgetting your password.</strong></p>
{% endblock %}